.home-box {
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  padding: 0 20px;
}
.home-link {
  font-size: 1.9em;
  text-decoration: none;
}
.home-link:active {
  color: lightskyblue;
}
.home-link:focus {
  color: lightskyblue;
}

.home-text {
  font-size: 0.8em;
  text-align: right;
  color: gray;
}

.home-header {
  min-width: 600px;
  margin-bottom: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgb(255, 255, 255);
  z-index: 1;
}
